
body{
    height: 100% !important;
    background-color: #adadad;
    margin: 10px;
}


/* Для небольших устройств (смартфоны) */
img {
    max-width: 100%;
    display: inline-block;

}
/* Для средних устройств (планшеты) */
@media (min-width: 420px) {
    img {
        max-width: 48%;
    }
}
/* Для больших устройств (ноуты, пк) */
@media (min-width: 760px) {
    img {
        max-width: 24%;
    }
}
